*{
    margin: 5px; 
    border-radius: 8px;
}

header{
    background-color: rgb(252, 190, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
aside {
    grid-column: 1/2;
    background-color: rgba(168, 168, 245, 0.911);
}
section{
    grid-column: 2/5;
    background-color: rgba(199, 199, 250, 0.911);
    align-items: center;
}

.justificado{
     text-align: justify;
}

.centrado{
    text-align: center;
}

body {
    background-color: #ecf0f1;
}

.dropdown li {
    display: none;
}
.menu { /* 1era Prueba*/
    display: flex;
}
nav ul {/* 2da Prueba*/
    list-style: none; /*???*/
    padding: 8px;
    color: #fff; /*???*/
    background: rgb(221, 221, 201);
}
.menu li {
    width: 100%;
    text-align: center;
}
.menu a {
display: flex;
align-items: center;
justify-content: center;
color: #fff;
background:rgb(247, 135, 23);
height: 55px;
text-decoration: none;
}
.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display: block;
}
.menu a:hover {
    background:blueviolet;
    color: #fff;
}

footer{
    text-align: center;
    background-color: rgb(4, 19, 4);
    color: white;
    padding: 10px;
}

  h1{
    margin-top: 35px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-right: 16px;
    color: #000000;
    margin-bottom: 0px;
  }

}
h6{
  margin-top: 35px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-right: 16px;
  color: #000000;
  margin-bottom: 0px;
}